## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,9,Tiarei,PF,76.46,clear sky,-17.5333,-149.3333,Le Rocher de Tahiti
2,13,Atuona,PF,78.67,clear sky,-9.8000,-139.0333,Villa Enata
3,14,Tiznit,MA,87.71,overcast clouds,29.5833,-9.5000,NaN
4,18,Jamestown,US,86.95,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:

# get map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
input("pinpoint your vacation itnerary (yes or no)")

vacation_start = input("from what city will you start your vacation?") 
vacation_end = vacation_start 
vacation_stop1 = input("what is the first city to stop in on your vacation?")
vacation_stop2 = input("what is the second city to stop in on your vacation?")
vacation_stop3 = input("what is the third city to stop in on your vacation?")

pinpoint your vacation itnerary (yes or no)yes
from what city will you start your vacation?Flin Flon
what is the first city to stop in on your vacation?La Ronge
what is the second city to stop in on your vacation?Provost
what is the third city to stop in on your vacation?Unity

In [11]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_end]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_stop2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_stop3]

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# vacation itinerary layer.
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING"
)

# add layer to fig.
fig.add_layer(vacation_itinerary)

# call figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,233,Flin Flon,CA,87.01,broken clouds,54.7682,-101.8650,Victoria Inn Flin Flon
1,383,La Ronge,CA,78.84,broken clouds,55.1001,-105.2842,Northland Motor Hotel
2,120,Provost,CA,77.41,clear sky,52.3501,-110.2683,Canalta Hotel Provost
3,509,Unity,CA,80.26,clear sky,52.4501,-109.1682,Greenhead Motel & RV Park

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description} {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# get map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))